body{
	background: #fbf9fe;
}
header{
	height: 40px;
	background-color: #444444;
	line-height: 40px;
}
header>.name{
	height: 100%;
	font-size: 12px;
	margin: 0 auto;
}
header>.name a{
	display: block;	
	color: #a8a8aa;
	width: 200px;
	height: 100%;
	float: right;
	text-align: right;
}
header>.name a:hover{
	color: #fff;
}
nav{
	height: 58px;
	background-color: rgba(0,0,0,0.8); 
}
.con{
	height: 100%;
	margin: 0 auto;
}
.con>.logo{
	float: left;
	height: 100%;
}
.con>.logo a{
	width: 100%;
	height: 100%;
	padding: 7px 0;
	color: #fff;
	display: block;
	box-sizing: border-box;
}
.con>.logo a:hover{
	color: #b7b7b7;
}
.con>ul{
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	float: right;
}
.con>ul>li{
	width: 16.67%;
	height: 100%;
}
.con>ul>li>a{
	display: block;
	height: 100%;
	color: #fff;
	font-size: 14px; 
	font-family: inherit;
	text-align: center;
	line-height: 58px;
  	white-space:nowrap;
}
.con>ul>li>.current{
	color: #b7b7b7;
}
.con>ul>li>a:hover{
	color: #B7B7B7;
}
.banner{
	display: block;
	width: 100%;
	height: 360px;
	margin-bottom: 30px;
}
.content{
	padding: 15px 15px;
	font-size: 15px;
	margin: 0 auto;
	box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.5);
	box-sizing: border-box;
}
.content>.top{
  	white-space:nowrap;
}
.top>h3{
  	color: #35465c;
  	letter-spacing: 2px;
}
.content>.nav3{
	padding: 10px 0;
}
.content>.nav3 span{
	color: #576b95;
	font-size: 14px;
	padding-right: 5px;
}
.content>.nav3 .span1{
	color: #444;
}
.content>input{
	width: 100%;
	height: 34px;
	padding: 0 10px;
	border-radius: 8px;
	box-sizing: border-box;
}
.content>.con{
	width: 100%;
	padding: 15px 15px;
	background: #fff;
	margin-top: 14px;
	box-sizing: border-box;
}
.content>.con>.con-top{
	padding-bottom: 8px;
	border-bottom: 1px solid #dfdfdf;
}
.con>.con-top>p{
	font-size: 14px;
    color: #35465c;
}
.con>.con-top>span{
	font-size: 12px;
    color: #9b9b9b;
}
.con>.con-cen{
	padding: 6px 0;
}
.con>.con-cen>ul>li{
	font-size: 14px;
	height: 32px;
	line-height: 32px;
	background: #fff;
}
.con>.con-cen>ul>li:nth-child(2n){
	background: #f5f5f5;
}
.con>.con-cen>ul>li>span:nth-child(2n){
	margin-left: 5px;
}
.con>.con-cen>ul>li>.green{
	color: #1aad19;
}
.con>.con-cen>ul>li>.red{
	color: #d7011b;
}
.con>.con-bot{
	padding: 5px 0;
}
.con>.con-bot>.con-bot-t{
	padding: 0 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid #dfdfdf;
	overflow: hidden;
	box-sizing: border-box;
}
.con-bot-t>.left{
	float: left;
	font-size: 14px;
    color: #35465c;
}
.con-bot-t>.right{
	font-size: 12px;
    color: #9b9b9b;
	float: right;
}
.con-bot-t>.right>span{
	font-size: 12px;
	color: #9b9b9b;
}
.con-bot-t>.right>span:nth-child(1){
	font-size: 16px;
	color: #1aad19;
}
.con-bot-t>.right>span:nth-child(2){
	margin: 0 8px;
}
.con-bot>ul>li{
	padding: 6px 10px;
	border-bottom: 1px solid #dfdfdf;
}
.con-bot>ul>li>.top>span:nth-child(2){
	float: right;
}
.con-bot>ul>li>a{
    font-size: 12px;
    color: #6c7ea3;
}
.con-bot>ul>li>.mon{
	color: #d7011b;
	text-align: right;
}
.con-bot>ul>li>.mons{
	color: #1aad19;
	text-align: right;
}
.con-bot>.none{
	display: none;
}
footer{
	width: 100%;
	height: 46px;
	border-top: 1px solid rgba(0, 0, 0, 0.4);
	margin-top: 30px;
}
.footer-bottom{
	margin: 0 auto;
	line-height: 46px;
	font-size: 12px;
	color: #666;
}
footer .footers{
	color: #999;
}
footer .footers:hover{
	color: #b7b7b7;
}
footer .footers-b{
	padding:0  3px ;
}
