body{
	background: #fbf9fe;
}
header{
	height: 40px;
	background-color: #444444;
	line-height: 40px;
}
header>.name{
	height: 100%;
	font-size: 12px;
	margin: 0 auto;
}
header>.name a{
	display: block;	
	color: #a8a8aa;
	width: 200px;
	height: 100%;
	float: right;
	text-align: right;
}
header>.name a:hover{
	color: #fff;
}
nav{
	height: 58px;
	background-color: rgba(0,0,0,0.8); 
}
.con{
	height: 100%;
	margin: 0 auto;
}
.con>.logo{
	float: left;
	height: 100%;
}
.con>.logo a{
	width: 100%;
	height: 100%;
	padding: 7px 0;
	color: #fff;
	display: block;
	box-sizing: border-box;
}
.con>.logo a:hover{
	color: #b7b7b7;
}
.con>ul{
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	float: right;
}
.con>ul>li{
	width: 16.67%;
	height: 100%;
}
.con>ul>li>a{
	display: block;
	height: 100%;
	color: #fff;
	font-size: 14px; 
	font-family: inherit;
	text-align: center;
	line-height: 58px;
  	white-space:nowrap;
}
.con>ul>li>.current{
	color: #b7b7b7;
}
.con>ul>li>a:hover{
	color: #B7B7B7;
}
.banner{
	display: block;
	width: 100%;
	height: 360px;
	margin-bottom: 30px;
}
.content{
	font-size: 15px;
	padding: 5px 0;
	margin: 0 auto;
	box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.5);
}
.content>.top{
  	padding: 15px 15px;
  	white-space:nowrap;
}
.top>h3{
  	color: #35465c;
  	letter-spacing: 2px;
}
.top>p{
	color: #9b9b9b;
}
.top>.facility{
	font-size: 16px;
	padding-top: 10px;
}
.top>.facility-2{
	font-size: 12px;
}
.content>ul{
	display: flex;
	padding: 5px 15px;
	border-bottom: 1px solid #ececec;
	box-sizing: border-box;
}
.content>ul>li{
	width: 33.33%;
	height: 65px;
	padding-top: 15px;
	box-sizing: border-box;
	text-align: center;
}
.content>ul>li .nums{
	font-size: 18px;
    letter-spacing: 1px;
	font-weight: 600;
}
.content>ul>li .nums-red{
	color: #d7011b;
}
.content>ul>li .num{
	padding: 3px 0;
    font-size: 10px;
    color: #9b9b9b;
}
.content>ul>.plan-left{
	width: 20%;
}
.content>ul .plan-left-top{
	font-size: 18px;
	letter-spacing: 1px;
}
.content>ul .plan-left-bot{
	padding-top: 5px;
	font-size: 13px;
	color: #d7011b;
	letter-spacing: 1px;

}
.content>ul>.plan-right{
	width: 80%;
	padding: 0 10px;
	display: flex;
}
.content>ul>.plan-right>span{
	width: 6%;
	height: 100%;
	line-height: 65px;
	padding: 0 5px;
}
.content>ul>.plan-right>.scroll{
	height: 1px;
	width: 88%;
	background-color: #ccc;
	position: relative;
	top: 0;
	bottom: 0;
	margin: auto 0;
}
.content>ul>.plan-right>.scroll>.bar{
	width: 28px;
	height: 28px;
	border-radius: 50%;
	background-color: #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,.4);
	position: absolute;
	top: -14px;
	left: 110px;
}
.content>ul>.plan-right>.scroll>.mask{
	width: 110px;
	height: 100%;
	background-color: #2ae36b;
}
.content>ul>.plan-right>.scroll-2>.bar{
	left: 441px;
}
.content>ul>.plan-right>.scroll-2>.mask{
	width: 441px;
}
.content>ul>.plan-right>.scroll-3>.bar{
	left: 673px;
}
.content>ul>.plan-right>.scroll-3>.mask{
	width: 673px;
}
footer{
	width: 100%;
	height: 46px;
	border-top: 1px solid rgba(0, 0, 0, 0.4);
	margin-top: 30px;
}
.footer-bottom{
	margin: 0 auto;
	line-height: 46px;
	font-size: 12px;
	color: #666;
}
footer .footers{
	color: #999;
}
footer .footers:hover{
	color: #b7b7b7;
}
footer .footers-b{
	padding:0  3px ;
}
